# See https://help.github.com/articles/ignoring-files for more about ignoring files.

.DS_Store
dump.rdb

yarn-error.log
/node_modules
esbuild_error

# Ignore builds
_builds

# xcode stuff
*.swp
*~.nib
xcuserdata

bin
