*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e9ecef;
}

#body-popup {
  max-width: 36rem;
  margin: 0 auto;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --tw-text-opacity: 1;
  color: rgb(33 37 41 / var(--tw-text-opacity));
}

#content {
  display: block;
  width: 100%;
  padding: 0 1rem;
}
